<div id="owners-signup-container">
  <div
    id="transparent-background-container"
    class="grid transparent-background shadow-8"
  >
    <div class="col-6">
      <app-owners-basic-input></app-owners-basic-input>
    </div>
    <div class="col-6">
      <app-owners-contact-input></app-owners-contact-input>
    </div>
    <div class="col-3">
      <app-main-button
        [label]="'Save'"
        [type]="'submit'"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
    <div class="col-3">
      <app-main-button
        [label]="'Clean'"
        [type]="'Clean'"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
  </div>
</div>
