@import 'src/styles.sass'

#background-transparent
    @include align-completely()
    height: 75%
    width: 75%

#owners-signup-container
    height: 100%
    width: 100%
    @include align-completely()
