<div id="owners-signup-container">
  <form
    id="transparent-background-container"
    class="grid transparent-background shadow-8"
    (ngSubmit)="printResult()"
    [formGroup]="getSignUpForm"
  >
    <div class="col-6">
      <app-owners-basic-input
        [basicOwnerForm]="getSignUpForm.get('basicOwnerForm')!"
      ></app-owners-basic-input>
    </div>
    <div class="col-6">
      <app-owners-contact-input
        [contactOwnerForm]="getSignUpForm.get('contactOwnerForm')!"
      ></app-owners-contact-input>
    </div>
    <div class="col-12">
      <app-owners-pet-input [petOwnerForm]="getSignUpForm.get('petOwnerForm')!">
      </app-owners-pet-input>
    </div>
    <div class="col-3">
      <app-main-button
        [label]="'Save Form'"
        [type]="'submit'"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
    <div class="col-3">
      <app-main-button
        [label]="'Reset Form'"
        [type]="'reset'"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
  </form>
</div>
