#owners-basicInput-container
    font-family: 'Roboto', sans-serif !important
    color: var(--overall-black)
    font-style: normal
    font-size: 10px

.owners-basic-input
    width: 100%

.input-container
    position: relative
    width: 100%

.input-container .input-icon
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    color: var(--overall-black)

.input-container input
    padding-right: 30px
