<div
  id="owners-basicInput-container"
  class="flex flex-column gap-2"
  [formGroup]="getBasicOwnerForm"
>
  <app-title [mainTitle]="getMainTitle"></app-title>

  <app-overall-input
    [inputId]="'firstName'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'First Name'"
    [anyForm]="getBasicOwnerForm"
    [message]="getMessage"
  ></app-overall-input>

  <app-overall-input
    [inputId]="'lastName'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'Last Name'"
    [anyForm]="getBasicOwnerForm"
    [message]="getMessage"
  ></app-overall-input>

  <app-overall-input
    [inputId]="'birthday'"
    [inputName]="'Birthday'"
    [type]="'datetime-local'"
    [anyForm]="getBasicOwnerForm"
    [message]="getMessage"
  ></app-overall-input>

  <div class="flex flex-row gap-2">
    <div class="flex align-items-center justify-content-center">
      <p-radioButton formControlName="gender" value="Male" />
      <label class="ml-2"> Male </label>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-radioButton formControlName="gender" value="Female" />
      <label class="ml-2"> Female </label>
    </div>
  </div>

  <app-overall-input
    [inputId]="'paymentInfo'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Payment Info'"
    [anyForm]="getBasicOwnerForm"
    [message]="getMessage"
  ></app-overall-input>

  <app-overall-input
    [inputId]="'insuranceInfo'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Insurance Info'"
    [anyForm]="getBasicOwnerForm"
    [message]="getMessage"
  ></app-overall-input>
</div>
