<div id="owners-basicInput-container" class="flex flex-column gap-2">
  <app-title [mainTitle]="getMainTitle"></app-title>
  <app-overall-input
    [id]="'first-name'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'First Name'"
  ></app-overall-input>

  <app-overall-input
    [id]="'last-name'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'Last Name'"
  ></app-overall-input>

  <app-overall-input
    [id]="'birthday'"
    [inputName]="'Birthday'"
    [type]="'datetime-local'"
  ></app-overall-input>

  <div class="flex flex-row gap-2">
    <div class="flex align-items-center justify-content-center">
      <p-radioButton name="male" value="Male" />
      <label class="ml-2"> Male </label>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-radioButton name="female" value="Female" />
      <label class="ml-2"> Female </label>
    </div>
  </div>

  <app-overall-input
    [id]="'payment-info'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'Payment Info'"
  ></app-overall-input>

  <app-overall-input
    [id]="'insurance-info'"
    [icon]="'pi pi-user input-icon'"
    [inputName]="'Insurance Info'"
  ></app-overall-input>
</div>
