<p-table
  [value]="owners"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 33%">Name</th>
      <th style="width: 33%">Country</th>
      <th style="width: 33%">Company</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <!-- <td>{{ owners.firstName }}</td>
      <td>{{ customer.country.name }}</td>
      <td>{{ customer.company }}</td>
      <td>{{ customer.representative.name }}</td> -->
      <td *ngFor="let owner of owners">
        {{ owner.firstName }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-table>
