<div id="container">
  <img
    src="assets/images/MASCOCARE_MAIN_IMAGE.png"
    alt="Descripción de la imagen"
  />
  <div>
    <form #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario)">
      <span class="p-input-icon-left flex-element">
        <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
        <input
          type="text"
          id="username"
          name="username"
          ngModel
          required
          pInputText
          placeholder="Username"
        />
      </span>
      <span class="p-input-icon-left flex-element">
        <i class="pi pi-spin pi-cog" style="font-size: 1rem"></i>
        <input
          type="text"
          id="password"
          name="password"
          ngModel
          required
          pInputText
          placeholder="Password"
        />
      </span>
      <div class="flex-element">
        <p-button type="submit" label="Sign in"></p-button>
      </div>
    </form>
  </div>
</div>
