<div [formGroup]="getPetOwnerForm">
  <p-listbox
    formControlName="breed"
    [options]="groupedCities"
    [group]="true"
    [listStyle]="{ 'max-height': '250px' }"
    [style]="{ width: '15rem' }"
  >
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'mr-2 flag flag-' + group.value"
          style="width: 20px"
        />
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
  </p-listbox>
</div>
