<div id="owners-basicInput-container" class="flex flex-column gap-2">
  <app-title [mainTitle]="getMainTitle"></app-title>
  <app-overall-input
    [id]="'email'"
    [icon]="'pi pi-map-marker input-icon'"
    [inputName]="'Address'"
  ></app-overall-input>
  <app-overall-input
    [id]="'address'"
    [icon]="'pi pi-envelope input-icon'"
    [inputName]="'Email'"
  ></app-overall-input>
  <app-overall-input
    [id]="'cell-phone'"
    [icon]="'pi pi-phone input-icon'"
    [inputName]="'Cell-Phone'"
  ></app-overall-input>
</div>
