<div id="security-main-title">Welcome to Mascocare</div>
<form [formGroup]="logginForm" (ngSubmit)="saveForm()">
  <div class="flex justify-content-center flex-wrap">
    <input
      type="text"
      class="input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full m-2"
      placeholder="Username"
      formControlName="username"
    />
    <input
      type="password"
      class="input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full m-2"
      placeholder="Password"
      formControlName="password"
    />
  </div>

  <div class="flex justify-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center m-2">
      <app-main-button
        [label]="'Send'"
        [type]="'submit'"
        [icon]="'pi pi-user'"
        [invalid]="logginForm.invalid"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
    <div class="flex align-items-center justify-content-center m-2">
      <app-main-button
        [label]="'Sign Up'"
        [type]="'button'"
        [icon]="'pi pi-user-plus'"
        [invalid]="false"
        classes="gradient-1 p-button-rounded"
      ></app-main-button>
    </div>
  </div>
</form>
<app-links-login></app-links-login>
