<div class="flex justify-content-center flex-wrap">
  <div
    class="gradient-1 surface-overlay border-round border-1 p-3 m-3 w-16rem min-h-full"
  >
    <a href="#" class="color-white no-underline hover:underline">
      Did you forget your password?
    </a>
  </div>
</div>

<div class="flex justify-content-center flex-wrap">
  <div
    class="gradient-1 flex align-items-center justify-content-center w-2rem h-2rem bg-primary font-bold border-round m-2"
  >
    <i class="pi pi-instagram"></i>
  </div>
  <div
    class="flex align-items-center justify-content-center w-2rem h-2rem bg-primary font-bold border-round m-2"
  >
    <i class="pi pi-facebook"></i>
  </div>
</div>
