<div id="security-main-title" class="field col-12 md:col-12">Sign In!</div>
<div id="logging-form-container" class="security-component">
  <form #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario)">
    <div class="field col-12 md:col-12">
      <span class="p-input-icon-right">
        <i class="pi pi-user color-white"></i>
        <input
          placeholder="Username"
          id="username"
          type="username"
          class="input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          aria-describedby="username-help"
        />
      </span>
    </div>
    <div class="field col-12 md:col-12">
      <span class="p-input-icon-right">
        <i class="pi pi-spin pi-cog color-white"></i>
        <input
          placeholder="Password"
          id="password"
          type="password"
          class="input text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          aria-describedby="password-help"
        />
      </span>
    </div>
    <div class="field col-12 md:col-12">
      <p-button type="submit" label="Submit"></p-button>
    </div>
  </form>
</div>
<div class="flex justify-content-center flex-wrap">
  <div
    class="gradient-1 flex align-items-center justify-content-center w-2rem h-2rem bg-primary font-bold border-round m-2"
  >
    <i class="pi pi-instagram"></i>
  </div>
  <div
    class="flex align-items-center justify-content-center w-2rem h-2rem bg-primary font-bold border-round m-2"
  >
    <i class="pi pi-facebook"></i>
  </div>
</div>
