<div
  [formGroup]="getPetOwnerForm"
  id="owners-basicInput-container"
  class="flex flex-column gap-2"
>
  <app-title [mainTitle]="getMainTitle"></app-title>
  <app-overall-input
    [inputId]="'name'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Name'"
    [anyForm]="getPetOwnerForm"
  ></app-overall-input>
  <app-overall-input
    [inputId]="'age'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Age'"
    [anyForm]="getPetOwnerForm"
    [type]="'number'"
  ></app-overall-input>
  <app-overall-input
    [inputId]="'gender'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Gender'"
    [anyForm]="getPetOwnerForm"
  ></app-overall-input>
  <app-overall-input
    [inputId]="'weight'"
    [icon]="'pi pi-question-circle input-icon'"
    [inputName]="'Weight'"
    [anyForm]="getPetOwnerForm"
    [type]="'number'"
  ></app-overall-input>
</div>
