<div
  [formGroup]="getContactOwnerForm"
  id="owners-basicInput-container"
  class="flex flex-column gap-2"
>
  <app-title [mainTitle]="getMainTitle"></app-title>
  <app-overall-input
    [inputId]="'email'"
    [icon]="'pi pi-envelope input-icon'"
    [inputName]="'Email'"
    [anyForm]="getContactOwnerForm"
    [message]="getMessage"
  ></app-overall-input>
  <app-overall-input
    [inputId]="'address'"
    [icon]="'pi pi-map-marker input-icon'"
    [inputName]="'Address'"
    [anyForm]="getContactOwnerForm"
    [message]="getMessage"
  ></app-overall-input>
  <app-overall-input
    [inputId]="'phone'"
    [icon]="'pi pi-phone input-icon'"
    [inputName]="'Cell-Phone'"
    [anyForm]="getContactOwnerForm"
    [message]="getMessage"
  ></app-overall-input>
</div>
