<p-dialog
  header="Validation Message"
  [visible]="getDisplayModal"
  [modal]="getDisplayModal"
  [closable]="false"
  [responsive]="true"
  [style]="{ width: '300px' }"
>
  <ng-template pTemplate="content">
    <!-- Validation Message -->
    <div>
      <p>Validation message here...</p>
    </div>

    <!-- Loading Symbol -->
    <div>
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
        animationDuration=".5s"
      ></p-progressSpinner>
      <p>Loading...</p>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      (click)="setDisplayModal(false)"
      label="close"
    ></button>
  </ng-template>
</p-dialog>
